<div class="no-gutter nested-page">
    <div class="nested-frame">
        <h2>Add Application</h2>
        <form ng-submit="createApplication()">
            <div class="form-group">
                <label for="appName">Application Name</label>
                <input type="text" class="form-control" id="appName" ng-model="applicationName">
            </div>
            <div class="form-group">
                <label for="appDescription">Application Description</label>
                <textarea id="appDescription" class="form-control" rows="3"
                          ng-model="applicationDescription"></textarea>
            </div>
            <div style="height: 34px">
                <button type="submit" class="btn actionBtn pull-right">Submit</button>
            </div>
        </form>
    </div>
</div>