<div class="no-gutter nested-page">
    <div class="nested-frame">
        <h2>{{application.applicationName}}</h2>
        <p>{{application.applicationDescription}}</p>
    </div>
    <div class="nested-frame" ng-repeat="script in application.scripts">
        <h3>{{script.scriptName}}</h3>
        <p>{{script.scriptDescription}}</p>
        <p class="shellScript" ng-show="admin">{{script.scriptCommand}}</p>
        <a class="btn actionBtn"
           role="button" ng-click="executeScript(script._id)">Activate</a>
        <a class="btn deleteBtn" ng-show="admin"
           role="button" ng-click="deleteScript(script._id)">Delete</a>
    </div>
    <div class="nested-frame" ng-show="admin">
        <h3>Add New Script</h3>
        <form ng-submit="createScript()">
            <div class="form-group">
                Script Name:
                <input type="text" class="form-control" id="scriptName" ng-model="scriptName">
            </div>
            <div class="form-group">
                Script Description:
                <textarea id="scriptDescription" class="form-control" rows="2" ng-model="scriptDescription"></textarea>
            </div>
            <div class="form-group">
                Script Command:
                <textarea id="scriptCommand" class="form-control" rows="3" ng-model="scriptCommand"></textarea>
            </div>
            <button type="submit" class="btn actionBtn">Submit</button>
        </form>
    </div>
</div>