<div id="sidebar-wrapper" ng-controller="MainController">
    <div id="sidebar-header">
        <div class="sidebar-title text-center">
            <h1>CSM</h1>
        </div>
    </div>
    <div id="application-container">
        <ul class="application-list">
            <h4>Available Applications...</h4>
            <a ui-sref="main.addApplication" class="add-application-list">
                <li>Add Application</li>
                <li id="_{{application.applicationName}}" ng-repeat="application in applications"><a ui-sref="main.application({ name: '{{application._id}}' })">{{application.applicationName}}</a></li>
            </a>
        </ul>
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>{{applications}}</p>
    </div>
    <div id="sidebar-permissions" class="text-center flex-container" ui-sref="main.permissions">
        User Permissions
    </div>

    <div id="sidebar-footer" class="text-center">
        <p>By <a href="www.markcheli.com">Mark Cheli</a></p>
        <p>Available Under <a ng-click="load"> MIT </a> License</p>
    </div>
</div>
<div id="main-wrapper">
    <div class = "container-fluid row no-gutter" ui-view></div>
</div>