<div id="sidebar-wrapper" ng-controller="MainController">
    <div id="sidebar-header" ui-sref="home">
        <div class="sidebar-title text-center">
            <h1>CSM</h1>
        </div>
    </div>
    <div id="application-container">
        <ul class="application-list">
            <div id="sidebar-label">
                <h2>Available Applications</h2>
            </div>
            <li id="_{{application.applicationName}}" ui-sref="main.application({ name: '{{application._id}}' })"
                ng-repeat="application in applications"
                ng-class="{'active-application': evalActive(application.applicationName)}"
                ng-click="setActive(application.applicationName)">
                {{application.applicationName}}
            </li>
            <br/>
            <li ui-sref="main.addApplication"
                ng-class="{'active-application': evalActive('AddApplication')}"
                ng-click="setActive('AddApplication')">
                Add New Application
            </li>
        </ul>
    </div>
    <div id="sidebar-permissions" class="text-center flex-container" ui-sref="main.permissions"
         ng-class="{'active-permissions': evalActive('UserPermissions')}"
         ng-click="setActive('UserPermissions')">
        User Permissions
    </div>

    <div id="sidebar-footer" class="text-center" style="padding-top: 8px">
        By <a href="www.markcheli.com">Mark Cheli</a> <br/>
        <a href="https://github.com/MCheli/CommunityServerManager">Available Under MIT License</a>
    </div>
</div>
<div id="main-wrapper">
    <div class="container-fluid row no-gutter" ui-view></div>
</div>